*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}
.container-date{
    background: rgb(19, 17, 17);
    width: 320px;
    height: 620px;
    border-radius: 20px;

}
.date{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date img{
    width: 12vh;
    border-radius: 50%;
    margin-top: 40px;
}

.container h1{
    margin: 10px 0 10px 0;
    font-weight: 200;
}
.text{
    margin: 30px 0 12px 0 ;
}

    

.container .green{
    color: #c4f82a;
    font-weight: 700;
}

.container .redes{
    display: flex;
    flex-direction: column;
}
.container .redes a{
    text-decoration: none;
    color: aliceblue;
    background: #2e2a2a;
    margin: 10px;
    width: 250px;
    height: 45px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;

}
.container .redes a:hover{
    background: #c4f82a;
    color: #000;
}

